<div class="form-group">
  <% if local_variables.include?(:label) && label.present? %>
    <%= form.label label %>
  <% else %>
    <%= form.label field.label.humanize %>
  <% end %>

  <% form.collection_check_boxes field.name, field.choices.split(','), :humanize, :strip do |check| %>
    <div class="form-check">
      <%= check.check_box class: 'form-check-input cbx' %>
      <%= check.label class: 'form-check-label' %>
    </div>
  <% end %>
</div>
