<pre><%= t(".duration", time: Time.at(call.duration_in_seconds).utc.strftime("%H:%M:%S")) %></pre>
<pre><%= t(".status", status: t("." + call.status)) %></pre>

<% if call.recording_url.present? && call.duration_in_seconds > 0 %>
  <pre><%= t(".recording") %></pre>
  <div>
    <%= audio_tag call.recording_url, controls: true %>
  </div>
<% end %>
