:root {
  --color-green: var(--green);
  --color-red: var(--red);
}

.btn {
  & > svg {
    margin-right: 0.35rem;
    position: relative;
  }

  &--call {
    @extend .btn-success !optional;
    color: white;
    
    &:hover, &:focus {
      color: white;
    }
  }

  &--hangup {
    @extend .btn-danger !optional;

    background: var(--color-red);
    color: white;

    svg {
      top: 0.1rem;
    }
    
    path {
      transform: rotate(-133deg);
      transform-origin: center;
    }
  }
}

.calling__container {
  padding: 0.6rem 1rem;
}

body.calling {
  .calling__container {
    border: none;
    box-shadow: 0 0 6px 8px rgba(255, 193, 7, 0.4);
    border-radius: 0.6rem;
    background: rgba(255, 193, 7, 0.4);
  }
}

.call {
  .timer {
    margin-right: 0.6rem;
    position: relative;
    font-size: 1.1em;
    top: 0.2rem;
  }
}
