.avatarable {
  position: relative;

  .circle {
    width: 1.5em;
  }
}

td > .person-name {
  font-size: 1em;
  font-weight: normal;
  margin: 0;

  h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
}

.contact-event {
  padding: 1em 1.2em 0.2em 1.4em;
  background: #faf8f7;
  border-radius: 1rem;
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;

  &--new {
    trix-toolbar {
      display: none;
    }

    trix-editor {
      background: white;
      border: 1px solid rgba(100,100,100,0.1);
      margin-bottom: 1rem;
    }

    .field {
      margin-bottom: 1rem;
    }

    form {
      margin-top: 0.5rem;
    }
  }

  pre {
    margin-bottom: 0.65rem;
  }

  &__avatar {
    width: 2.3rem;
    left: -2rem;
    position: absolute;
    left: -2.4rem;
    border: 3px solid white;
    top: -0.4rem;
  }

  &__inner {
    width: 100%;
    position: relative;
  }

  &__meta {
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    // flex-direction: row-reverse;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .avatarable {
    font-size: 1rem;
    margin: 0 0.5rem;
  }

  time {
    font-size: 0.85em;
    color: var(--gray);
  }
}

body:not(.calling), .navbar:not(.calling) {
  .show--calling {
    @extend .hidden !optional;
  }
}

body.calling, .navbar.calling {
  .hide--calling {
    @extend .hidden !optional;
  }

  .btn-disabled--calling {
    & > .btn {
      @extend .disabled !optional;
    }
  }

  .show--calling {
    display: flex !important;
  }

  .contact__header {
    .avatarable > img {
      animation: calling 2s ease infinite;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    h2 {
      margin: 0;
    }
  }
}

body.contact-name--visible {
  .contact-sidebar__name {
    opacity: 1;
    visibility: visible;
  }

  .navbar__contact {
    opacity: 1;
    visibility: visible;
  }
}

.navbar__contact, .contact-sidebar__name {
  transition: all 0.2s ease;
  opacity: 0;
  visibility: hidden;
}

.contact__details {
  margin-left: 3.6rem;
}

.contact-sidebar {
  .btn-sm {
    display: inline-flex;
    align-items: center;
  }

  &__name {
    margin-top: -3.25rem;
    border-bottom: 1px solid rgba(163, 163, 163, 0.2);
    margin-bottom: 1rem;
    padding-bottom: 1rem;

    h2 {
      font-size: 1.3rem;
      font-weight: normal;
    }
  }
}

.navbar {
  .avatarable {
    font-size: 1.3rem;
    font-weight: normal;
  }
}

@keyframes calling {
  0% {
      transform: scale(1);
  }
  15% {
      box-shadow: 0 0 0 5px rgba(255, 193, 7, 0.4);
  }
  25% {
      box-shadow: 0 0 0 10px rgba(255, 193, 7, 0.4), 0 0 0 20px rgba(255, 193, 7, 0.2);
  }
  25% {
      box-shadow: 0 0 0 15px rgba(255, 193, 7, 0.4), 0 0 0 30px rgba(255, 193, 7, 0.2);
  }
}
