.avatarable {
  position: relative;

  .circle {
    width: 1.5em;
  }
}

td > .person-name {
  font-size: 1em;
  font-weight: normal;
  margin: 0;

  h2 {
    font-size: 1em;
    font-weight: normal;
    margin: 0;
  }
}

.contact-event {
  padding: 1.2em 1.2em 0.2em 1.4em;
  background: #faf8f7;
  border-radius: 1rem;
  margin-bottom: 1.8rem;
  display: flex;
  justify-content: space-between;

  &__avatar {
    width: 2.3rem;
    left: -2rem;
    position: absolute;
    left: -2.4rem;
    border: 3px solid white;
    top: -0.4rem;
  }

  &__inner {
    width: 100%;
    position: relative;
  }

  &__meta {
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }

  &:last-of-type {
    border-bottom: none;
  }

  .avatarable {
    font-size: 1rem;
    margin: 0 0.5rem;
  }

  time {
    font-size: 0.85em;
    color: var(--gray);
  }
}

body:not(.calling) {
  .show--calling {
    @extend .hidden !optional;
  }
}

body.calling {
  .hide--calling {
    @extend .hidden !optional;
  }

  .btn-disabled--calling {
    & > .btn {
      @extend .disabled !optional;
    }
  }

  .show--calling {
    display: flex;
  }

  .contact__header {
    .avatarable > img {
      animation: alertPulse 1.5s ease-out;
      animation-iteration-count: infinite;
      opacity: 1; 
    }

    h2 {
      margin: 0;
    }
  }
}
