.uncolored {
  color: var(--dark);

  &:hover {
    color: var(--dark);
  }
}

.hidden {
  display: none !important;
}

.highlighted {
  border: 3px solid rgba(255, 193, 7, 0.4) !important;

  audio {
    opacity: 1;
  }
}
