.uncolored {
  color: var(--dark);

  &:hover {
    color: var(--dark);
  }
}

.hidden {
  display: none !important;
}

.highlighted {
  border: 3px solid rgba(255, 193, 7, 0.4) !important;

  audio {
    opacity: 1;
  }
}

.circle {
  border-radius: 50%;
}

@supports (-moz-appearance: none) {
  select {
    -moz-appearance: none !important;
  }
}
