@import "bootstrap";
@import "jquery-ui/themes/base/datepicker";

.pagination {
  margin-top: 1em;
  justify-content: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 40px 15px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

// Fixes bootstrap nav-brand container overlap
@include media-breakpoint-down(xs) {
  .container {
    margin-left: 0;
    margin-right: 0;
  }
}

// Masquerade alert shouldn't have a bottom margin
body > .alert {
  margin-bottom: 0;
}

.circle {
  border-radius: 50%;
}

// .contact-event {
//   @include media-breakpoint-up(md) {
//     &:nth-of-type(2n) {
//       flex-direction: row-reverse;
//       text-align: right;
//     }
//   }
// }

body {
  padding-top: 3.8em;
}

.navbar {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

audio {
  width: 100%;
  border-radius: 0.4rem;
  opacity: 0.5;
  transition: opacity 0.2s ease;

  &:hover {
    opacity: 1;
  }
}

.turbolinks-progress-bar {
  background-color: var(--primary);
}

.ui-datepicker {
  background: white none repeat scroll 0% 0%;
  border: 1px solid rgba(153, 153, 153, 0.1);
  border-radius: 0.6rem;
  margin: 0.5rem 0px;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, 0.05), 0 1px 4px rgba(0, 0, 0, 0.1), 0 10px 30px #fcf8f7;
}

.ui-datepicker-calendar {
  td {
    &.ui-datepicker-today > a {
      font-weight: bold;
    }

    & > .ui-state-default {
      background: rgba(153, 153, 153, 0.1);
      // border-radius: 50%;
      // width: 3rem;
      // height: 3rem;
      line-height: 1.6;
      margin: 0.1em;
      color: #222222;
      text-align: center;
    }

    & > .ui-state-active {
      background: var(--primary);
      color: white;
      font-weight: bold;
    }
  }
}

.navbar {
  .search-form {
    width: 20em;

    button[type="submit"] {
      display: none;
    }

    .form-group {
      margin: 0;
    }
  }
}

.hasDatepicker {
  max-width: 100%;
  background-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  
  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.ui-state-disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.ui-datepicker-prev, .ui-datepicker-next {
  line-height: 2;
  text-align: center;
  cursor: pointer;
}

.ui-datepicker-prev:before,
.ui-datepicker-next:before {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.ui-datepicker-prev:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f100";
}

.ui-datepicker-next:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f101";
}
